<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head") %>
  <link rel="stylesheet" href="/styles/about.css" />
  <body>
    <%-include("../includes/header") %>
    <main>
      <section>
        <div id="about-content">
          <h1>About</h1>
          <div id="about">
            <p>
              Welcome to TaskMaster! Our platform is designed to help you manage
              your tasks efficiently. We believe in making organization simple,
              so you can focus on what matters most to you.
            </p>
            <ul>
              At TaskMaster, you can:
              <li>
                Add, Edit, and Delete Tasks: Manage your tasks effortlessly
                using our intuitive interface.
              </li>
              <li>
                Stay Organized: Prioritize and categorize your tasks to suit
                your personal or professional needs.
              </li>
              <li>
                Access Anytime, Anywhere: Whether on your phone or desktop, your
                tasks are always at your fingertips.
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
