<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>confirm</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/confirm.css" />
    <script src="/scripts/responsive.js" defer></script>
  </head>
  <body>
    <%-include("../includes/header") %>
    <main>
      <div id="confirmation-card">
        <h1>Task Added Successfully!</h1>
        <p>Your task has been added to the list.</p>
        <button id="returen-btn"><a href="/tasks">Show Task List</a></button>
      </div>
    </main>
  </body>
</html>
