<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head") %>
  <link rel="stylesheet" href="/styles/confirm.css" />
  <body>
    <%-include("../includes/header") %>
    <main>
      <div id="confirmation-card">
        <h1>Task Added Successfully!</h1>
        <p>Your task has been added to the list.</p>
        <button id="returen-btn"><a href="/tasks">Show Task List</a></button>
      </div>
    </main>
  </body>
</html>
