<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head") %>
  <body>
    <%-include("../includes/header") %>
    <main>
      <section>
        <div id="welcome-sct">
          <h2>Welcome to TaskMaster web</h2>
          <p>
            Easily manage your tasks with a simple, user-friendly interface. You
            can add new tasks, edit existing ones, or delete completed items.
            Stay organized and on top of your to-do list!
          </p>

          <button id="start-btn"><a href="/tasks">Get Started</a></button>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
