body {
  padding: 0;
  margin: 0;
  background-color: rgb(201, 210, 210);
  font-family: "Nunito", sans-serif;
}

#main-header div {
  width: 100%;
  height: 8rem;
  background-color: rgba(33, 33, 145, 0.879);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-logo {
  width: 150px;
  height: auto;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-bar ul li {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

#nav-bar ul li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(253, 253, 252);
  text-decoration: none;
  padding: 0.3rem 1rem;
}
#nav-bar ul li span {
  margin-right: 0.5rem;
}

#nav-bar ul li a:hover {
  border-radius: 10px;
  background-color: rgb(242, 125, 47);
}

#drawer-btn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 3rem;
}

#drawer-btn span {
  width: 2.5rem;
  height: 3px;
  background-color: rgb(253, 253, 252);
  border-radius: 5px;
}

@media (max-width: 768px) {
  #nav-bar {
    display: none;
  }

  #drawer-btn {
    display: flex;
  }

  #nav-bar.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 145, 0.879);
    z-index: 1000;
    padding-top: 8rem;
  }

  #nav-bar ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #nav-bar ul li {
    margin: 1rem 0;
  }

  #nav-bar ul li a {
    padding: 1rem;
    font-size: 2rem;
    color: white;
  }
}
